In [1]:
# The data contains lists of octamers (8 amino acids) and a flag (-1 or 1)
# depending on whether HIV-1 protease will cleave in the central position (between amino acids 4
# and 5). Build a machine learning model for the dataset, please refer document inside zip file for
# additional information


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("1625Data.txt", sep=",",names=["Peptides", "Result"])
dataset.head()

   Peptides  Result
0  SLNLRETN       1
1  AECFRIFD       1
2  HLVEALYL       1
3  TQIMFETF       1
4  AEELAEIF       1

In [4]:
# Seperate all amino acids
peptides = np.array([[dataset["Peptides"][i][j] for i in range(dataset.shape[0])] for j in range(8)])
peptides.shape

(8, 1625)

In [5]:
# Store the seperated amino acids into a dataframe
dataset1= pd.DataFrame(peptides.T, columns=list('ABCDEFGH'))
dataset1.shape

(1625, 8)

In [6]:
dataset = dataset.drop(columns="Peptides", axis=0)
dataset = pd.concat([dataset, dataset1], axis=1)
dataset.head()

   Result  A  B  C  D  E  F  G  H
0       1  S  L  N  L  R  E  T  N
1       1  A  E  C  F  R  I  F  D
2       1  H  L  V  E  A  L  Y  L
3       1  T  Q  I  M  F  E  T  F
4       1  A  E  E  L  A  E  I  F

In [7]:
# rearrange col dataset
dataset = dataset[['A','B','C','D','E','F','G','H','Result']]
dataset.head()

   A  B  C  D  E  F  G  H  Result
0  S  L  N  L  R  E  T  N       1
1  A  E  C  F  R  I  F  D       1
2  H  L  V  E  A  L  Y  L       1
3  T  Q  I  M  F  E  T  F       1
4  A  E  E  L  A  E  I  F       1

In [9]:
dataset.to_csv('data.csv',index=False,encoding='utf-8')

In [10]:
#Importing the dataset
dataset = pd.read_csv('data.csv')
dataset.head()

   A  B  C  D  E  F  G  H  Result
0  S  L  N  L  R  E  T  N       1
1  A  E  C  F  R  I  F  D       1
2  H  L  V  E  A  L  Y  L       1
3  T  Q  I  M  F  E  T  F       1
4  A  E  E  L  A  E  I  F       1

In [11]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,8].values
x.shape,y.shape

((1625, 8), (1625,))

In [17]:
#splitting the dataset into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33,random_state = 0)

In [18]:
x_train.shape,y_train.shape

((1088, 8), (1088,))

In [19]:
x_train = pd.DataFrame(x_train)
x_test=pd.DataFrame(x_test)

In [23]:
from sklearn.impute import SimpleImputer 
from collections import defaultdict
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
class SupportVectorMachine:


  
    def onehotcode(self,x_data):
        # from collections import defaultdict
        d = defaultdict(LabelEncoder)
        # Encoding the variable
        fit = x_data.apply(lambda x: d[x.name].fit_transform(x))
        # Inverse the encoded
        fit.apply(lambda x: d[x.name].inverse_transform(x))
        # Using the dictionary to label future data
        x_data.apply(lambda x: d[x.name].transform(x))
        one_hot_encode = OneHotEncoder()
        one_hot_encode.fit(x_data)
        x_data=one_hot_encode.transform(x_data).toarray()
        return x_data
    
    def label_encoding(sel,y_train):
        #Encoding the dependent variable
        labelencoder_y=LabelEncoder()
        # print(labelencoder_y)
        y_train=labelencoder_y.fit_transform(y_train)
        # print(y_train)
        return y_train
    
    def feature_scaling(self,dataset):
        #feature scaling
        sc=StandardScaler()
        x_train=sc.fit_transform(dataset)
        return x_train,sc

In [24]:
obj=SupportVectorMachine()
dataset=obj.onehotcode(x_train)
# print(dataset)
y_train=obj.label_encoding(y_train)
# print("label data on y_train",y_train)
x_train,sc_train=obj.feature_scaling(dataset)
# print(x_train)

NameError: name 'StandardScaler' is not defined