In [1]:
#For a given dataset predict number of bikes getting shared based on temperature of the day

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Importing the dataset
data = pd.read_csv('bike_sharing.csv',sep=',')
data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
cols=['temp','atemp','hum','registered']
X=data[cols]
Y=data['cnt']

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.23,random_state = 0)

In [6]:
# train a logistic regression model on the training set
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
regressor = LinearRegression()
# fitting the training data
regressor.fit(x_train,y_train)

LinearRegression()

In [7]:
y_prediction = regressor.predict(x_test)
y_prediction

array([ 12.31967042,   4.087666  , 755.96932899, ..., 284.92732035,
       165.38440334, 144.93357552])

In [12]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
print('r2 socre is ',r2_score(y_test,y_prediction))
print('mean_sqrd_error is==',mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is  0.9554442300683124
mean_sqrd_error is== 1483.0898132599714
root_mean_squared error of is== 38.51090512127664